.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.otp-input:focus {
  border-bottom: 2px solid red;
}

.container button {
  background-color: white;
  color: blue;
  font-weight: 600;
  height: 50px;
  width: 200px;
}

.container button:hover{
    background-color: blue;
    color: white;
}

.container h6{
    font-size: large;
    margin-top: 10px;
}