.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex img {
  margin-top: 40px;
}

.flex h1 {
  width: 370px;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  font-weight: 630;
}

/* .unorder li{
    position: absolute;
    left: 10%;
  } */

.flex h6 {
  font-size: 15px;
  color: red;
  margin-left: 200px;
}

.flex p {
  width: 370px;
  text-align: center;
  font-weight: 500;
  /* font-weight: bold; */
  /* opacity: 0.9; */
}

.lezdo {
  color: blue;
}

.flex h2 {
  margin-top: 10px;
  font-size: 25px;
}

.password {
  margin-top: 5px;
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.password input[type="password"] {
  width: 100%;
  padding: 13px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  position: relative;
}

.password input[type="password"]:focus {
  border: 2px solid #555;
}

.password input[type="text"] {
  width: 100%;
  padding: 13px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  position: relative;
}

.password input[type="text"]:focus {
  border: 2px solid #555;
}

.password .eye {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  cursor: pointer;
}

/* .unorder ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px 90px;
}

.unorder li {
  list-style: none;
  margin: 5px 5px;
}

.

/* .condition{
  margin: -10px 5px;

} */

/* .circle .icon {
  position: absolute;
  left: 15%;
  top: 20%;
  font-size: 35px;
  color: white;
} */

.conditions {
  margin-left: 80px;
  margin-top: 10px;
}

li {
  list-style: none;
  font-weight: bold;
  opacity: 0.95;
}

li .bg {
  background-color: red;
  /* border: 1px solid black; */
  height: 20px;
  width: 20px;
  margin: 1px 5px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  position: relative;
}

li .bg_success {
  background-color: green;
  /* border: 1px solid black; */
  height: 20px;
  width: 20px;
  margin: 1px 5px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.bg .icon {
  color: white;
  position: absolute;
  left: 8%;
  top: 5%;
}

.bg_success .icon {
  color: white;
  position: absolute;
  left: 8%;
  top: 5%;
}

button {
  width: 370px;
  height: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: large;
  transition: ease-in background-color 0.5s;
}

button:hover {
  background-color: rgb(0, 0, 0);
}
